---
import Layout from '../../layouts/Layout.astro'
import { getCollection, render } from 'astro:content'

export async function getStaticPaths() {
  const projects = await getCollection('project')

  return projects.map((project) => ({
    params: {
      slug: project.id,
    },
    props: {
      project,
    },
  }))
}

const { project } = Astro.props
const { Content } = await render(project)
---

<Layout>
  <h1>{project.data.title}</h1>
  <p>{project.data.date.toLocaleDateString('zh-TW')}</p>
  <p>{project.data.description}</p>
  <Content />
</Layout>
