---
import Navbar from "../components/Navbar.astro";
import "katex/dist/katex.min.css";
import "../lib/cms/style.css";
const { title, projects, currentSlug } = Astro.props;
---

<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title || "My Notes"}</title>
  </head>

  <body>
    <Navbar />

    <!-- mobile menu -->
    <div class="mobile-menu">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/project">Project</a>
    </div>

    <!-- overlay -->
    <div class="overlay"></div>

    <div class="container">
      <slot name="sidebar" />

      <main>
        <article class="markdown">
          <slot />
        </article>
      </main>
    </div>
  </body>
</html>

<style>
</style>
